@media (max-width:1200px) {
    .header {
        left: -500px;
    }

    .footer {
        position: static;
        margin-left: 0;
    }

    .main {
        margin-left: 0;
        z-index: -999;
    }

}